/* Common Color */
/* Theme Color */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 1200px;
  margin: 0 auto;
}

.fix::before,
.fix::after {
  content: "";
  clear: both;
  display: table;
}

a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

/* Background CSS*/
.bg {
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
}
.bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: 0.75;
  z-index: -1;
}

/* Button CSS*/
.btn {
  padding: 10px 30px;
  text-transform: capitalize;
  font-size: 18px;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
}
.btn.box-btn {
  background-color: #ff7720;
  transition: 0.3s;
}
.btn.box-btn:hover {
  background-color: #333;
}
.btn.border-btn {
  border: 2px solid #ff7720;
  transition: 0.3s;
  padding: 8px 40px;
}
.btn.border-btn:hover {
  border: 2px solid #333;
}

/* Section Title*/
.section-title {
  margin-bottom: 60px;
}
.section-title h4 {
  text-transform: capitalize;
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 25px;
}
.section-title h4:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background: #ff7720;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section-title p {
  width: 500px;
  margin: 0 auto;
}

/* Margin and Padding*/
.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

/* Common Color */
/* Theme Color */
.header-area {
  padding: 20px 0px;
}
.header-area .logo {
  width: 230px;
  float: left;
}
.header-area .logo a {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}
.header-area .menu {
  width: 940px;
  float: right;
  margin-left: 30px;
}
.header-area .menu ul {
  text-align: right;
}
.header-area .menu ul li {
  display: inline-block;
}
.header-area .menu ul li a {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
}
.header-area .menu ul li a:hover {
  color: #ff7720;
}

/*Bannger area*/
.banner-area .banner-content {
  color: #fff;
}
.banner-area .banner-content h2 {
  font-size: 45px;
  text-transform: capitalize;
}
.banner-area .banner-content p {
  max-width: 500px;
  margin: 30px auto;
}
.banner-area .banner-content a {
  margin: 0px 10px;
}

/* About CSS */
.single-about {
  border: 1px solid #ddd;
  padding: 40px 20px;
  width: 370px;
  float: left;
  margin-right: 30px;
}
.single-about:last-child {
  margin-left: 0;
}
.single-about h4 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
}
.single-about p {
  margin: 20px 0;
}
.single-about a {
  color: #333;
}
.single-about a:hover {
  color: #ff7720;
}

/* services css*/
.services-area {
  background-color: #f2f2f2;
}
.services-area .single-service {
  width: 380px;
  float: left;
  background-color: #fff;
  margin-right: 30px;
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  transition: 0.3s;
}
.services-area .single-service:hover {
  border: 1px solid #ff7720;
}
.services-area .single-service:last-child {
  margin-right: 0;
}
.services-area .single-service i {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transition: 0.3s;
}
.services-area .single-service i:hover {
  background-color: #ff7720;
  color: #fff;
  cursor: pointer;
}
.services-area .single-service h4 {
  text-transform: capitalize;
  font-size: 22px;
  margin: 20px 0;
}

/* Porffolio CSS*/
.portfolio-area .single-portfolio {
  width: 380px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.portfolio-area .single-portfolio:last-child {
  margin-right: 0;
}
.portfolio-area .single-portfolio h4 {
  position: absolute;
  background: #444;
  width: 100%;
  left: 0;
  bottom: 0;
  color: #fff;
  padding: 10px 0px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
}

/*CTA csss*/
.cta-area {
  color: #fff;
}
.cta-area h4 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
}
.cta-area p {
  margin: 30px 300px;
}

/* Blog css */
.blog-area .blog-img {
  background-size: cover;
  background-position: center;
  height: 250px;
  transition: 0.3s;
}
.blog-area .single-blog {
  width: 380px;
  float: left;
  margin-right: 30px;
  overflow: hidden;
  background-color: #f2f2f2;
}
.blog-area .single-blog:hover .blog-img {
  transform: scale(1.1);
}
.blog-area .single-blog:last-child {
  margin-right: 0;
}
.blog-area .single-blog .blog-content {
  border: 1px solid #ddd;
  padding: 20px;
}
.blog-area .single-blog .blog-content h4 {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
}
.blog-area .single-blog .blog-content p {
  margin: 20px 0;
}
.blog-area .single-blog .blog-content a {
  color: #ff7720;
}
.blog-area .single-blog .blog-content a:hover {
  color: #333;
}

/* Contact css*/
.contact-area {
  background-color: #f2f2f2;
}
.contact-area .single-address {
  width: 380px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 50px;
}
.contact-area .single-address:last-child {
  margin-right: 0;
}
.contact-area .single-address i {
  font-size: 22px;
  color: #ff7720;
}
.contact-area .single-address h4 {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 5px;
}
.contact-area .single-address h4 span {
  display: block;
  text-transform: lowercase;
  font-size: 14px;
  font-weight: 300;
}
.contact-area .contact-form {
  width: 670px;
  float: left;
  margin-right: 30px;
}
.contact-area .contact-form input,
.contact-area .contact-form textarea {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #ddd;
  margin: 5px 0px;
  outline: oldlace;
  font-size: 14px;
}
.contact-area .contact-form input[type=submit] {
  width: auto;
  background-color: #ff7720;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding: 10px 40px;
}
.contact-area .contact-map {
  width: 500px;
  float: left;
}
.contact-area .contact-map iframe {
  width: 100%;
  border: 1px solid #ddd;
  height: 330px;
  margin-top: 5px;
}

/* Footer CSS */
.footer-area {
  padding: 20px 0px;
  background: #333;
}
.footer-area p {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 16px;
  margin: 0;
}/*# sourceMappingURL=style.css.map */